.rectangle5 {
  //   margin-left: 1400px;
  //   margin-left: 80%;
  right: 480px;
  margin-top: 1000px;
  //   top: 75%;
  display: block;
  width: 42px;
  height: 42px;
  background: #2a2d3a;

  // border: 2px solid #20222e;
  //   color: #1e58ff;
  cursor: pointer;
  border-radius: 8px;
  //   flex-direction: row;
  position: absolute;
  //   position: relative;
  //   text/-align: center;
  //   align-items: center;
  //   justify-content: center;
}

.dzwonek {
  margin: 9px 0 0 11.5px;
  position: absolute;
}
