.wrapper {
  display: flex;
  height: 970px;
  width: 450px;
  background-color: #20222e;
  top: 110px;
  right: 0;
  // right: 600px;
  position: absolute;

  // align-items: center;
  flex-direction: column;
}

.chathead {
  // display: inline-block;
  display: flex;
  // display: grid;
  // flex-template-columns: 105px ;
  width: 450px;
  height: 81px;
  background-color: #2a2d3a;
  color: white;
  text-align: center;
  align-items: center;

  font-weight: 500;
  font-size: 17px;
  // margin-right: 50px;
  // border: 2px solid #20222e;
}

.chat {
  margin-left: 30px;
}
.chaticon {
  margin-left: 10px;
  margin-right: 10px;
}

.chatswitch {
  margin-left: 10px;
  // margin-right: 30px;
}

.global {
  margin-left: 150px;
  color: #666f8c;
  font-weight: 500;
  font-size: 15px;
}

.number {
  color: #666f8c;
  font-weight: 500;
  font-size: 17px;
}
