.wrapper {
  display: flex;
  position: absolute;
  top: 276px;
  // right: 620px;
  // left: 819px;
  margin-left: 42.5%;
  // left: 42%;
  // left: 82vh;
  //   top: 516.5px;
  //   left: 860.5px;
}
